.App {
  text-align: center;
}

body {
  background-color: #1F2833;
  color: #FFF;
}

h1 {
  color: #66FCF1;
  text-transform: uppercase;
}

.token-please {
  margin-bottom: 2rem;
}

input[type=text], select {
  min-width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=submit] {
  min-width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.consumption-container {
  margin-top: 1rem;
}